<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bismilah.tomirf.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Hotel"
            android:label="@string/title_activity_hotel" />
        <activity
            android:name=".Restaurant"
            android:label="@string/title_activity_restaurant" />
        <activity
            android:name=".TempatIbadah"
            android:label="@string/title_activity_tempat_ibadah" />
        <activity
            android:name=".Pom"
            android:label="@string/title_activity_pom" />
        <activity
            android:name=".Kampus"
            android:label="@string/title_activity_kampus" />
        <activity
            android:name=".RumahSakit"
            android:label="@string/title_activity_rumah_sakit" />
        <activity
            android:name=".Belanja"
            android:label="@string/title_activity_belanja" />
        <activity
            android:name=".Wisata"
            android:label="@string/title_activity_wisata" />
        <activity
            android:name=".Baturaden"
            android:label="@string/title_activity_baturaden" />
        <activity
            android:name=".Balkem"
            android:label="@string/title_activity_balkem" />
        <activity
            android:name=".AlunAlun"
            android:label="@string/title_activity_alun_alun" />
        <activity android:name=".dashboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>